<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--显示从router传来的值-->
    <h1><%= name %></h1>
    <p>Hi <%= name %></p>
  </body>
</html>
